{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <form method="post" id="registration-form" action="{{ path('process') }}">
        <div id="step-contact" class="step">
            <div class="row mb-3">
                <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" id="first_name" name="first_name" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" id="last_name" name="last_name" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="telephone" class="col-sm-2 col-form-label">Telephone</label>
                <div class="col-sm-10">
                    <input type="text" id="telephone" name="telephone" value="" class="form-control" />
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="#" class="btn btn-primary">Next</a>
            </div>
        </div>

        <div id="step-address" class="step">
            <div class="row mb-3">
                <label for="street" class="col-sm-2 col-form-label">Street</label>
                <div class="col-sm-10">
                    <input type="text" id="street" name="street" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="house_no" class="col-sm-2 col-form-label">House No</label>
                <div class="col-sm-10">
                    <input type="text" id="house_no" name="house_no" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="zipcode" class="col-sm-2 col-form-label">Zip Code</label>
                <div class="col-sm-10">
                    <input type="text" id="zipcode" name="zipcode" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="city" class="col-sm-2 col-form-label">City</label>
                <div class="col-sm-10">
                    <input type="text" id="city" name="city" value="" class="form-control" />
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="#" class="btn btn-primary">Next</a>
            </div>
        </div>

        <div id="step-payment" class="step">
            <div class="row mb-3">
                <label for="account_owner" class="col-sm-2 col-form-label">Account Owner</label>
                <div class="col-sm-10">
                    <input type="text" id="account_owner" name="account_owner" value="" class="form-control" />
                </div>
            </div>

            <div class="row mb-3">
                <label for="iban" class="col-sm-2 col-form-label">IBAN</label>
                <div class="col-sm-10">
                    <input type="text" id="iban" name="iban" value="" class="form-control" />
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>

{% endblock %}
