<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Wunder Mobility App</title>

    <style>
        .step { display: none }
    </style>
</head>
<body>

{% block header %}
    <header class="bg-primary">
        <nav class="navbar navbar-expand-lg navbar-dark container body-container">
            <a class="navbar-brand" href="{{ path('home') }}">Wunder Mobility App</a>
        </nav>
    </header>
{% endblock %}

<div class="container pt-4">
    <div class="row">
        <div class="col-md-12">
            {{ include('default/_flash_messages.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

{% block footer %}
    <footer>
        <div class="container">
        </div>
    </footer>
{% endblock %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(document).ready(function() {
         if (localStorage.getItem('registration-step') === null) {
            $('.step').first().show();
        } else {
            let data = JSON.parse(localStorage.getItem('registration-values'));
            for (let i = 0; i < data.length; i++) {
                $('#registration-form input[name=' + data[i].name + ']').val(data[i].value);
            }
            $('#' + localStorage.getItem('registration-step')).show();
        }

        $(document).on('click', '.step a', function (e) {
            e.preventDefault();
            let registrationForm = $('#registration-form');
            let button = $(this);

            if (validateVisible(registrationForm) === false) {
                return;
            }

            let data = registrationForm.serializeArray();
            localStorage.setItem('registration-values', JSON.stringify(data));

            let parent = button.closest('.step');
            let next = parent.next('.step');

            parent.hide();
            next.show();

            next.find('input[type="text"]').first().focus();

            localStorage.setItem('registration-step', next.attr('id'));
        });

        $(document).on('submit', '#registration-form', function(e) {
            e.preventDefault();
            let form = $(this);

            if (validateVisible(form) === false) {
                return;
            }

            localStorage.removeItem('registration-step');
            localStorage.removeItem('registration-values')

            form.unbind('submit')[0].submit();
        });

        $(document).on('keypress', '.step', function (e) {
            let step = $(this);
            let button = step.find('a.btn');

            if (e.keyCode === 13 && button.length > 0) {
                e.preventDefault();
                button.click();

                return false;
            }
        });
    });

    function validateVisible(form) {
        let isValid = true;
        form.find('input[type="text"]:visible').each(function() {
            let input = $(this);

            if (input.val() === '') {
                input.addClass('is-invalid');
                isValid = false;
            } else {
                input.removeClass('is-invalid');
            }
        });

        return isValid;
    }

</script>

</body>
</html>